<style type="text/css">
#container {	
	padding-left:50px;
	width: 600px;
	margin-left:auto;
	margin-right:auto;
}
#all_alarms {
	width: 400px;
	float:left;
}
#post_alarm {
	float:right;
	width: 178px;
	border: 1px solid black;
	border-radius: 10px;
	margin-top:10px;
	padding: 10px;
	background-color: lightblue;
	text-align:center;
}
#post_alarm input {
	width: 168px;
}
#post_alarm .submit {
	margin-top:5px;
}
.alarm_div {
	clear:both;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px;
	margin-left:0;
	padding: 10px;
	background-color: lightblue;
	min-height:40px;
}

.upvote_div {
	font-family:monospace;
	float: left;
	height:40px;
	width:50px;
	padding-right:10px;
	text-align:right;
}
.upvote_score {
	float:left;
	padding-top:10px;
	width:24px;
	text-align:center;
	overflow:hidden;
}
.upvote_buttons {
	float:right;
}
.negative {
	color: red;
}
.errors_div {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	background-color: red;
}
</style>